.showWrapper.marksShowWrapper {
  max-width: fit-content;
  min-width: 60vw;
}

.marksListWrapper {
  overflow-x: auto;
}

.markTable {
  border-bottom: 1px solid var(--dark-color-op);
}

.markTable :is(tr, td, th) {
  text-align: center;
}

tr.loader {
  display: block;
  margin: 0;
}

.markTable td {
  font-size: small;
}

.markTable thead tr {
  background-color: var(--accent-color-1-op);
}
.markTable tbody tr:nth-child(even) {
  background-color: var(--accent-color-2-op);
}
.markTable th {
  text-transform: uppercase;
  font-size: smaller;
  color: var(--accent-color-1);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
