.modalWrapper {
    position: fixed;
    inset: 0;
    background-image: linear-gradient(to bottom right, var(--dark-color), rgba(0, 0, 0, .3), var(--dark-color-op));
    min-height: 100vh;
    width: 100%;
    transition: .3s;
    display: block;
    align-items: center;
    justify-content: flex-start;    
    color: var(--light-color);
    backdrop-filter: blur(2px);
    overflow-y: auto;
    flex-direction: column-reverse;
    padding: 1rem 0;
}

.modalWrapper.hide {
    transform: translateY(-10px);
    visibility: hidden;
    height: 0;
    z-index: -1000;
    opacity: 0;
}

.modalWrapper > * {
    margin: auto;
}

.closeBtn {
    margin-left: auto;
    float: right;
    position: sticky;
    right: 0;
    top: 0;
    border-radius: 99px;
    border-top-right-radius: 0;
    border: 0;
    padding: 10px;
    font-weight: 600;
    opacity: .5;
    background: tomato;
    color: var(--light-color);
    cursor: pointer;
    align-self: flex-start;
    justify-self: end;
    transform: translateY(-1rem);
    z-index: 1;
}

.closeBtn:hover {
    opacity: 1;
}