.modalWrapper {
    position: fixed;
    inset: 0;
    /* background-image: linear-gradient(to bottom right, var(--dark-color), rgba(0, 0, 0, .3), var(--dark-color-op)); */
    min-height: 100vh;
    width: 100%;
    transition: .3s;
    display: block;
    align-items: center;
    justify-content: flex-start;    
    color: var(--light-color);
    backdrop-filter: blur(2px);
    overflow-y: auto;
    flex-direction: column-reverse;
    padding: 1rem 0;
}

.modalWrapper.hide {
    transform: translateY(-10px);
    visibility: hidden;
    height: 0;
    z-index: -1000;
    opacity: 0;
}

.modalWrapper > * {
    margin: auto;
}

.closeBtn {
    margin-left: auto;
    float: right;
    position: sticky;
    right: 0;
    top: 0;
    border-radius: 99px;
    font-weight: 800;
    color: tomato;
    border: 2px solid tomato;
    height: 30px;
    width: 30px;
    margin: 0;
    cursor: pointer;
    align-self: flex-start;
    justify-self: end;
    transform: translateY(-1rem);
    z-index: 1;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.15rem;
    margin: 0.25rem 0.25rem 0 0;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8) ;
}

.closeBtn:hover {
    opacity: 1;
    color: var(--light-color);
    background-color: tomato;
}