.profileWrapper {
  display: flex;
  /* background-color: var(--accent-color-1); */
  align-items: center;
  padding: 0.25rem;
  position: relative;
  flex-direction: column;
  background-image: linear-gradient(
    to top right,
    var(--accent-color-1-op),
    var(--accent-color-2-op)
  );
  border-radius: 1rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 2px 4px 1.3px rgba(59, 59, 59, 0.719);
}

.userAvatar {
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.4);
  height: 105px;
  width: 105px;
  border-radius: 50%;
  background-color: var(--dark-color);
  /* border: 10px double var(--dark-color-op); */
  overflow: hidden;
  /* border-bottom-left-radius: 0; */
  background-image: linear-gradient(
    to top right,
    var(--light-color),
    var(--dark-color),
    var(--accent-color-2)
  );
  /* background-clip: text;*/
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 500%;
  padding: 10px;
  padding-bottom: 20px;
  text-shadow: -4px 10px 4px rgba(0, 0, 0, 0.4);
}

.userInfoWrapper {
  /* margin-left: .25rem; */
  margin: 0.25rem;
}

.userName {
  font-weight: 500;
  font-size: large;
  text-align: center;
}

.userRole {
  font-weight: 900;
  font-size: 15px;
  color: var(--accent-color-1);
  /* background-color: var(--light-color); */
  text-align: center;
  text-shadow: 1.3px 1.3px 5px rgb(255, 255, 255);
  text-decoration: underline;
  text-decoration-style: double;
}

.profileBtns {
  /* position: absolute; */
  bottom: 0;
  right: 0;
}

.profileBtns .btn:first-of-type {
  /* border-bottom-right-radius: 0; */
}

.personalInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: var(--accent-color-2-op);
  padding: 1rem;
  border-radius: 0.25rem;
}

.personalInfo .info {
  margin: 7px 0;
}

.info .infoKey {
  font-weight: 600;
}

.info .infoValue {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 14px;
}
