.studentList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: .25rem;
    border-radius: .5rem;   
    background-color: var(--accent-color-2-op);
}


.studentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.student {
    /* background-color: var(--dark-color-op); */
    /* border: 1px solid var(--dark-color-op); */
    padding: .35rem .5rem;
    /* margin: .25rem 0; */
    width: 100%;
    border-radius: .25rem;
    cursor: pointer;
    transition: .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.student:hover {
    /* background-color: var(--dark-color-op);
    color: var(--light-color); */
    background-color: var(--dark-color-op);
    color: var(--light-color);
}

.studentName {
    /* font-weight: 500; */
}

.studentName:hover {
    text-decoration: underline;
}

.studentFilter {
    margin: .5rem 0;
}

.studentFilter select {
    box-shadow: 1px 1px 2px 2px var(--dark-color-op);
}

.filterList {
    display: flex;
    gap: .5rem;
}