.appWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.appWrapper > .content {
    flex: 1;
}

/* .appLoader .modalWrapper .closeBtn {
    display: none !important;
} */

.contentWrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    padding: 1rem;
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    display: none;
    text-align: center;
}

footer span {
    display: inline-block;
    font-weight: lighter;
}

.loginLoader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: .8rem;
}

.loginLoader ~ .closeBtn {
    display: none;
}

.loginLoader>.loader::after{
    color: var(--dark-color);
    content: "Authenticating.." !important;
}

.formMsg {
    text-align: center;
    color: var(--accent-color-2);
    font-size: medium;
    margin: 0.25rem 0 1rem;
}


