* {
    box-sizing: border-box;
}

:root {
    --light-color: #f7f4ef;
    --light-color-op: #f7f4ef80;
    --dark-color: #342628;
    --dark-color-op: #34262880;
    --accent-color-1: #788402;
    --accent-color-2: #feaa00;
    --accent-color-1-op: #78840280;
    --accent-color-2-op: #fea90080;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark-color);
}

main:first-of-type {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--accent-color-2);
    font-weight: bold;
}

a,
button,
input {
    transition: .3s;
}

/* utils */

.btn {
    padding: .75rem 1rem;
    border-radius: .75rem;
    margin: .15rem;
    border: 0;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    text-transform: capitalize;
    background-color: var(--dark-color);
    color: var(--light-color);
    box-shadow: 1.5px 1.5px 5px var(--dark-color-op);
}

.btn:hover {
    transform: translateY(3px);
}

.btn.active,
.btn:focus,
.btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color-op);
    box-shadow: -2px -2px 3px var(--dark-color);
}

.btn.btnSm {
    padding: .35rem .75rem;
    font-size: small;
    border-radius: .5rem;
}

/* loader */

.loader {
    height: 20px;
    width: 20px;
    border: 2px solid transparent;
    display: block;
    margin: auto;
    border-radius: 50%;
    animation: 2.3s border-spin infinite ease-in-out;
    border-color: var(--dark-color) var(--light-color) var(--dark-color) var(--light-color);
    box-shadow: 0 0 2px 1.2px rgba(0, 0, 0, .5);
}


@keyframes border-spin {
    from {
        transform: rotate(0);
    }

    to {
        border-color: var(--light-color) var(--dark-color) var(--light-color) var(--dark-color);
        transform: rotate(360deg);
    }
}