.teacherList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: .25rem;
    background-color: var(--accent-color-2-op);
    border-radius: .5rem;   
}

.teacherHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teacher {
    padding: .35rem .25rem;
    width: 100%;
    border-radius: .25rem;
    cursor: pointer;
    transition: .3s;
}

.teacher:hover {
    background-color: var(--dark-color-op);
    color: var(--light-color);
}

.teacherName:hover {
    text-decoration: underline;
}

.teacherFilter {
    margin: .5rem 0;
}

.teacherFilter select {
    box-shadow: 1px 1px 2px 2px var(--dark-color-op);
}